.editp {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

.edit1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 200px !important;
    text-align: start !important;

  }
  .edit2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px !important;
    margin-top: -70px !important;
 
  
  }